body{
    background-color: #eaeaed78;
}

p{
    color: #011627;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #011627;
    /*font-family: 'Open Sans', sans-serif;*/
}

a:hover {
    color: #f71735;
}

.bg-dark {
    background-color: #65cec0!important;
}

.h1, h1 {
    font-size: 2.5rem;
    margin: 15px;
}

.btn-primary {
    color: #fff;
    background-color: #011627;
    border-color: #011627;
}

.btn-primary:hover {
	background-color: #182B3A;
	border-color: #182B3A;
}

.h2, h2 {
    text-align: center;
}

input.btn-primary {
	width: 150px;
  	text-align: center;
  	margin:0 auto;
}

input {
	text-align: center;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.left-nav-bar{
	flex: 0 0 210px;
}


div.item-list {
    /*border: solid 1px gray;*/
    margin-top: 15px;
    margin-bottom: 15px;
    /*padding: 10px;*/
}

div.article-detail {
    margin-top: 20px;
    font-weight: lighter;
}

img.img-thumbnail{
    width: 200px;   
}

body.container {
  background: url(autumn.jpg) no-repeat center center;
  background-size: cover;
}

img.d-inline-block.align-top{
    height: 50px;
}
div.side_bar {

    border-top: 1px solid #e5e5e5;
    position: relative;
}