body{
    background-color: #eaeaed;
}
label.custom-radio .custom-control-input:checked{
    background-color: #f71735;
}

footer {
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
}

p{
    color: #011627;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #011627;
    /*font-family: 'Open Sans', sans-serif;*/
}

a.small_link {  
    font-size: 12px;
    font-style: italic;
}

p.small_text {  
    font-family: sans-serif;
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

a:hover {
    color: #f71735;
}

nav.navbar.navbar-dark.bg-dark {
    background-color: #65cec0!important;
}

.h1, h1 {
    color: #ff9f1c;
    font-family: 'Sofia', cursive;
    font-size: 2.5rem;
    margin: 15px;
}

.btn-primary {
    width: 150px;
    height: 30px;
    padding: 2px;
    color: #fff;
    background-color: #011627;
    border-color: #011627;
}

.btn-primary:hover {
	background-color: #182B3A;
	border-color: #182B3A;
}

.btn-secondary {
    width: 150px;
    height: 30px;
    padding: 2px;
    color: #fff;
    background-color: #f71735;
    border-color: #f71735;
}

.btn-secondary:hover {
    background-color: #fb4a61;
    border-color: #fb4a61;
}

.h2, h2 {
    color: #ff9f1c;
    font-family: 'Sofia', cursive;
    text-align: center;
}

input.btn-primary {
	width: 150px;
  	text-align: center;
  	margin:0 auto;
}

input.btn-secondary {
    width: 150px;
    text-align: center;
    margin:0 auto;
}

input {
	text-align: center;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.left-nav-bar{
	flex: 0 0 210px;
}

div.login_box {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
}

div.item-list {
    /*border: solid 1px gray;*/
    margin-top: 15px;
    margin-bottom: 15px;
    /*padding: 10px;*/
}

div.article-detail {
    margin-top: 20px;
    font-weight: lighter;
}

img.detail_img {
    width: 100%;
}

img.login_logo{
    margin-top: 20px;
}

img.img-thumbnail{
    width: 200px;   
}

body.login_page {
    background-color: #65cec0;
}

img.d-inline-block.align-top {
    height: 50px!important;
}

div.side_bar {

    border-top: 1px solid #e5e5e5;
    position: relative;
}