{% extends 'base.html' %}
{% block content %}
<div id= class="col-6"><h2> Edit Article </h2></div>
<div class="row justify-content-md-center">
<div class="col col-lg-8">
<div class="login_box shadow rounded">

<form action="/article_add_confirm" enctype="multipart/form-data" method="POST" name="article_add">
  
	<div class="form-group">
	<label for="type">Type</label>
    	<select name = "type_id" class="custom-select">
    	<option selected>{{current_article.type.name}}</option>
    	{% for type in article_type %}
    	<option value="{{type.type_id}}">{{type.name}}</option>
    	{% endfor %}
    	</select>
	</div>
    
    <div class="form-group">	
    <label for="size">Size</label>
		<input type="size" 
    		   name="size"
    		   class="form-control" 
           value="{{current_article.size}}"
    		   required>
	</div>

	<div class="form-group">
    <label for="color">Color</label>
		<input type="text" 
    		   name="color"
    		   class="form-control"
           value="{{current_article.color}}"
    		   required>
    </div>		   

	<div class="form-group">
    <label for="material">Material</label>
		<input type="material" 
    		   name="material"
    		   class="form-control"
           value="{{current_article.material}}"
    		   required>
    </div>

	<div class="form-group">
    <label for="notes">Notes</label>
		<textarea class="form-control"
			        id="exampleFormControlTextarea1"
              rows="3"
              name="notes"
              value="{{current_article.notes}}">
		</textarea>
	</div>


	<div class="form-group">
    <label for="private">Private</label>
    	<div class="custom-control custom-radio custom-control-inline">
      <input type="radio" 
           id="private_yes" 
           name="is_private" 
           class="custom-control-input"
           value="True"
           checked>
           <label class="custom-control-label" for="private_yes">Yes</label>
		  </div>

		  <div class="custom-control custom-radio custom-control-inline">
  		<input type="radio" 
  			   id="private_no" 
  			   name="is_private" 
  			   class="custom-control-input"
  			   value="False">
  			   <label class="custom-control-label" for="private_no">No</label>
		  </div>
	</div>
	
	<div class="form-group">
    <label for="loanable">Loanable</label>
    	<div class="custom-control custom-radio custom-control-inline">
  		<input type="radio" 
  			   id="lonable_yes" 
  			   name="is_loanable" 
  			   class="custom-control-input"
  			   value="True">
  			   <label class="custom-control-label" for="lonable_yes">Yes</label>
		  </div>
		

		  <div class="custom-control custom-radio custom-control-inline">
  		<input type="radio" 
  			   id="lonable_no" 
  			   name="is_loanable" 
  			   class="custom-control-input"
  			   value="False"
           checked>
  			   <label class="custom-control-label" for="lonable_no">No</label>
		  </div>
	</div>

	<div class="form-group">
    <label for="giveaway">Giveaway</label>
    	<div class="custom-control custom-radio custom-control-inline">
  		<input type="radio" 
  			   id="giveaway_yes" 
  			   name="is_giveaway" 
  			   class="custom-control-input"
  			   value="True">
  			   <label class="custom-control-label" for="giveaway_yes">Yes</label>
		  </div>

		  <div class="custom-control custom-radio custom-control-inline">
  		<input type="radio" 
  			   id="giveaway_no" 
  			   name="is_giveaway" 
  			   class="custom-control-input"
  			   value="False"
           checked>
  			   <label class="custom-control-label" for="giveaway_no">No</label>
		  </div>
	</div>

   
    <div class="form-group">
		<button type="submit" 
			   class="btn btn-primary mb-2" 
			   value="Add">Submit
		</button>
    </div>

</form>
</div>
</div>
</div>
{% endblock %}