{% extends 'base.html' %}
{% block content %}

<h2></h2>

<!-- <a href="/article_add">New Article</a> -->

<div class="row">
  <div class="col-md-2">
    <ul class="nav flex-column">
  <div class="side_bar">
  <li class="nav-item">
    <a class="nav-link active" href="/article_add">New Article</a>
  </li>
  </div>
  <div class="side_bar">
  <li class="nav-item">
    <a class="nav-link active" href="{{page_name}}">Show All</a>
  </li>
  </div>
  <!-- <div class="side_bar">
  <li class="nav-item">
    <a class="nav-link active" href="/my_closet">My Closet</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/closets">Closets</a>
  </li>
  </div> -->
  <div class="side_bar">
  {% for type in article_type %}
  <li class="nav-item">
    <a class="nav-link" href="?filter={{type.name}}">{{type.name}}</a>
  </li>
  {% endfor %}
  </div>
</ul>
</div>

<div class="col-md-9">

<div class="row">

<!-- for article in request  -->
{% for item in closet_info %}
  <div class="col-md-4">
  <div class="shadow p-3 mb-5 bg-white rounded">
    <div class="item-list">
      {% if item.images %}
    <a href="article_details/{{item.article_id}}"><img src="{{item.images[0].img_url}}" alt="Snow" style="width:100%"></a>
      {% endif %}
    <div class="article-detail">
    <p class="text-center">{{item.article_id}} {{item.type_value.name}} / {{item.size}}</p>
    </div>
    </div>
  </div>
  </div>
{% endfor %}
</div> 

</div>
</div>


<!-- jQuery CDN -->

<!-- jQuery CDN -->

<script src="https://code.jquery.com/jquery-2.1.4.js"></script>

<!-- Bootstrap Js CDN -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

{% endblock %}