{% extends 'base2.html' %}
{% block content %}


<div class="row justify-content-center">
<div class="col col-10 col-md-6 col-lg-4">
<div class="login_box shadow rounded">
<div id= class="col-8"><h2> Member Login </h2></div>

<form action='/login' method="POST" name='login'>
<div class="form-group">
  <label for="username">Username</label>
	<input type="username" 
		   name="username" 
		   class="form-control">
</div>
<div class="form-group">
  <label for="password">Password</label>
	<input type="password"
		   name="password"
		   class="form-control">
</div>
	<div class="text-center">

	<button type="submit" 
			class="btn btn-primary mb-2" 
			value="login">Login
	</button>
	<div class="text-center">
		<a class="small_link" href="/register">New User?</a>
	</div>
	</div>


</form>
</div>
</div>
</div>
{% endblock %}