{% extends 'base.html' %}
{% block content %}
<div>
<div class="shadow p-3 mb-5 bg-white rounded">
<div class="text-center">
<img src="{{user_info.user_img}}" class="img-thumbnail" alt="{{user_info.user_img}}">
</div>

<h1 class="text-center">{{user_info.fname}} {{user_info.lname}}</h1>
<p class="text-center">
<ln class="font-weight-bold">email |</ln>
{{user_info.email}}
<br>
<ln class="font-weight-bold">zipcode |</ln>
{{user_info.zipcode}}
</p>
</div>
    <form method="get" action="/profile_edit">
    <button type="submit" 
            id="edit_btn"
            class="btn btn-primary mb-2" 
            name="edit"
            value="edit">Edit
    </button>
    </form>
</div>
{% endblock %}